.content {
    width: 100%;
    height: 90%;
    padding: 2em;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
}

.content.light {
    background: var(--background-light);
}

.content.dark {
    background: var(--background-dark);
}