.content {
    width: 100%;
    padding: 2em;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5em;
    flex-grow: 3;

    background-color: var(--background-light);
}