:root {
    --white87: #ffffff87;
    --white60: #ffffff60;
    --white30: #ffffff30;

    --black87: #212121;
    --black60: #666666;
    --black30: #9e9e9e;

    --background-white: #F0F2F5;
    --panel-white: #FAFAFA;
    --border-white: #E8E8E8;

    --background-black: #040404;

    --gray: #333333;
}


.sidebar {
    display: flex;
    justify-content: center;
    width: 20%;

    color: var(--white87);
    background: var(--background-black);
}