.sidebar {
    /* min-width: 270px; */
    height: 100vh;

    padding: 35px;

    color: var(--white87);
    background: var(--panel-dark);

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1em;
    /* justify-content: center; */
}

.sidebar.wide {
    width: 10%;
}

.sidebar.narrow {
    width: 5%;
}

.mode {
    margin-top: auto;
}