:root {
    --white87: #E0E0E0;
    --white60: #A0A0A0;
    --white30: #6C6C6C;

    --black87: #212121;
    --black60: #666666;
    --black30: #9e9e9e;

    --background-white: #F0F2F5;
    --background-black: #040404;

    --panel-white: #FAFAFA;
    --panel-black: #040404;

    --border-white: #E8E8E8;
    --border-black: #333333;
}