:root {
    --primary: blue;
    --secondary: red;

    --white87: #E0E0E0;
    --white60: #A0A0A0;
    --white30: #6C6C6C;

    --black87: #212121;
    --black60: #666666;
    --black30: #9e9e9e;

    --background-light: #F8F8F8;
    --background-dark: #121212;

    --black: #040404;

    --panel-light: #FFFFFF;
    --panel-dark: #040404;

    --dark-mode-border: #1e1e1e;
    --dark-mode-panel: #242424;

    --border-light: #E8E8E8;
    --border-dark: #333333;
}